In [ ]:
from google.colab import drive  # to mount Drive to Colab notebook
# Connect Google Drive to Colab
drive.mount('/content/gdrive')
# Create a variable to store the data path on your drive

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
df = pd.read_csv('./gdrive/My Drive/Mawhiba/student-mat.csv', sep =';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [ ]:
df.shape

(395, 33)

In [ ]:
dfn = df[['Medu', 'failures','goout','freetime','absences','studytime','G3']]
dfn.tail()

     Medu  failures  goout  freetime  absences  studytime  G3
390     2         2      4         5        11          2   9
391     3         0      5         4         3          1  16
392     1         3      3         5         3          1   7
393     3         0      1         4         0          1  10
394     1         0      3         2         5          1   9

In [ ]:
#convert grade(0-20) to 0 (Fail) if grade < 10 and 1 (Pass) if grade >= 10
dfn['Grade'] = pd.cut(df.G3,bins=[-1,9,20],labels=[0,1])
dfn.tail()

     Medu  failures  goout  freetime  absences  studytime  G3 Grade
390     2         2      4         5        11          2   9     0
391     3         0      5         4         3          1  16     1
392     1         3      3         5         3          1   7     0
393     3         0      1         4         0          1  10     1
394     1         0      3         2         5          1   9     0

In [ ]:
dfn.Grade.value_counts()

1    265
0    130
Name: Grade, dtype: int64

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

X = dfn[['Medu', 'studytime', 'absences', \
        'freetime', 'goout', 'failures']]
y = dfn['Grade']

knn = KNeighborsClassifier(n_neighbors=3)

knn.fit(X, y)

Medu = 4
studytime = 2
absences = freetime = goout = 1
failures = 0

val_prediction = knn.predict(np.array([[Medu, studytime, \
                                        absences, freetime,\
                                        goout, failures]]))

if(val_prediction):
  print("Prediction Result: The Student Will Pass.")
else:
  print("Prediction Result: The Student Will Fail.")

Prediction Result: The Student Will Pass.

In [ ]:
from sklearn.naive_bayes import GaussianNB

X = dfn[['Medu', 'studytime', 'absences', \
        'freetime', 'goout', 'failures']]
y = dfn['Grade']

NB_model = GaussianNB()
NB_model.fit(X, y)

Medu = 4
studytime = 2
absences = freetime = goout = 1
failures = 0

val_prediction = NB_model.predict(np.array([[Medu, studytime, \
                                        absences, freetime,\
                                        goout, failures]]))

if(val_prediction):
  print("Prediction Result: The Student Will Pass.")
else:
  print("Prediction Result: The Student Will Fail.")

Prediction Result: The Student Will Pass.

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score, accuracy_score, precision_score

X = dfn[['Medu', 'failures','goout','freetime','absences','studytime']]
y = dfn['Grade']

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 1)

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(train_X, train_y)
val_prediction = knn.predict(val_X)

print('Accuracy = ', int(round(accuracy_score(val_y, val_prediction)*100,0)),'%')
print('Precision = ', int(round(precision_score(val_y, val_prediction)*100,0)),'%')
print('Recall = ', int(round(recall_score(val_y, val_prediction)*100,0)),'%')

Accuracy =  74 %
Precision =  78 %
Recall =  85 %

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score,accuracy_score, precision_score

X = dfn[['Medu', 'failures','goout','absences']]
y = dfn['Grade']

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 1)

NB_model = GaussianNB()
NB_model.fit(train_X, train_y)
val_prediction = NB_model.predict(val_X)
print('Accuracy = ', int(round(accuracy_score(val_y, val_prediction)*100,0)),'%')
print('Precision = ', int(round(precision_score(val_y, val_prediction)*100,0)),'%')
print('Recall = ', int(round(recall_score(val_y, val_prediction)*100,0)),'%')

Accuracy =  77 %
Precision =  77 %
Recall =  94 %